    <p class="row text-center bg-dark text-white">footer</p>
    <script src="/js/jquery-3.4.1.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.js"></script>
    <script src="/js/bootstrap.bundle.js"></script>
    <script src="/js/custom.js"></script>
</body>
</html>